/*!Variables*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');


:root {
    --bg-color-primary: #64b385;
    --bg-color-secondary: #481A80;
    --bg-color-secondary-darker: #00b83a;
}


body {
    background: var(--bg-color-primary);
    font-family: 'Roboto', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    color: white;
}

.bold {
    font-weight: 700;
}

.highlight {
    color: var(--bg-color-secondary);
}

div {
    margin-bottom: 20px;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.3rem;
}

hr {
    margin: 30px 0;
    border: 1px solid;
}

/*Main*/

.btn.div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

button {
    font-size: 1.3rem;
    padding: 20px 0;
    width: 345px;
    color: white;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    background-color: var(--bg-color-secondary);
}

button:hover {
    cursor: pointer;
    background-color: var(--bg-color-secondary-darker);
}


